.default-color0.chart-area-symbol { -fx-background-color: #9370DB, white; }
.default-color0.chart-series-area-line { -fx-stroke: #9370DB; }
.default-color0.chart-series-area-fill { -fx-fill: #9370DB55; }