.default-color0.chart-area-symbol { -fx-background-color: CHART_COLOR_7, white; }
.default-color0.chart-series-area-line { -fx-stroke: CHART_COLOR_7; }
.default-color0.chart-series-area-fill { -fx-fill: CHART_COLOR_7_TRANS_20; }