.default-color0.chart-area-symbol { -fx-background-color: CHART_COLOR_6, white; }
.default-color0.chart-series-area-line { -fx-stroke: CHART_COLOR_6; }
.default-color0.chart-series-area-fill { -fx-fill: CHART_COLOR_6_TRANS_20; }