.default-color0.chart-area-symbol { -fx-background-color: #8B4513, white; }
.default-color0.chart-series-area-line { -fx-stroke: #8B4513; }
.default-color0.chart-series-area-fill { -fx-fill: #8B451355; }